
body{
  background-color: #282c34;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
li{
  list-style: none;
}
ul{
  display: flex;
  justify-content: space-around;
}
.breweryCard{
  width: 350px;
  background-color: rgb(138, 176, 140);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.test{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}